.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;

  .slideshow_container {
    position: relative;

    .slides_container {
      height: 70vh;
      display: flex;
      transition: transform 0.3s linear;

      &.shift_to_left {
        transform: translateX(-100vw);
      }
      &.shift_to_right {
        transform: translateX(100vw);
      }
      #section_1 {
        background: url(assets/Eneco.jpg);
        background-position: center 10%;
        background-size: cover;
      }
      #section_2 {
        background: url(assets/ritual.jpg);
        background-position: center 30%;
        background-size: cover;
      }
      #section_3 {
        background: url(assets/tamtam.png);
        background-position: 40% 70%;
        background-size: cover;
      }

      .section {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: flex 0.4s ease;

        .content {
          z-index: 2;

          h1 {
            font-size: 8em;
          }
        }
      }
    }

    .slider-buttons {
      z-index: 1;
      position: absolute;
      top: 70%;
      left: 0;
      right: 0;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .left-button {
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        cursor: pointer;
        border: none;

        &:hover {
          background-color: lightcoral;
        }
      }
      .right-button {
        @extend .left-button;
      }

      .center-button {
        @extend .left-button;
        border-radius: 20px;
        width: 150px;
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        padding: 0 5px 0 5px;
      }
    }
  }

  .instagram-posts-wrapper {
    width: 100%;
    .instagram-posts {
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto auto;
      @include breakpoint("ipad_portrait") {
        grid-template-columns: auto auto;
      }
      @include breakpoint("mobile_portrait") {
        grid-template-columns: auto;
      }

      padding-left: 0;
      width: 100%;
      justify-content: space-around;

      li {
        height: auto;
        margin: 10px auto auto 0;
        border: none;
        width: 300px;
        img {
          width: 100%;
          display: block;
        }

        .insta-post-text {
          margin: 0;
          padding: 5px;
          background-color: white;
          margin: 0;
        }
      }
    }
  }
}
